@import '../../styles/mixins';

.calculator-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 91.5%;
    height: 100px;
    padding: 0 15px;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    user-select: none;
    &.theme-1 {
      @include screen-theme(1);
    }
    &.theme-2 {
      @include screen-theme(2);
    }
    &.theme-3 {
      @include screen-theme(3);
    }    
}