@import '../../styles/mixins';

.header-container {
    display: flex;
    flex-direction: row;
  
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        &-title {
            font-size: 1.2rem;
        }
  
        &-theme {
            display: flex;
            flex-direction: row;
            width: 45%;
            justify-content: space-between;
 
            &-title {
                margin-right: 16px;
                font-size: 0.5rem;
                padding-top: 16px;
            }
  
            &-options {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90px;
                height: 35px;
                border-radius: 20px;
                padding: 2px;
                box-sizing: border-box;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                margin-top: 15px;
    
                .header-theme-option {
                    font-size: 18px;
                    transition: color 0.3s ease-in-out;
                
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;

                    transition: background-color 0.5s ease-in-out;    
                    
                }
    
                
            }
        }
    }

    &.theme-1 {
        @include header-theme(1);
    }
    &.theme-2 {
        @include header-theme(2);
    }
    &.theme-3 {
        @include header-theme(3);
    }
}
  