.header-container {
    display: flex;
  
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 16px;
      box-sizing: border-box;
  
      .header-title {
        margin: 0;
      }
  
      .header-theme {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        .header-theme-title {
          margin: 0;
          margin-right: 16px;
        }
  
        .header-theme-options {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 120px;
          height: 40px;
          background-color: #eee;
          border-radius: 20px;
          padding: 2px;
          box-sizing: border-box;
          cursor: pointer;
  
          .header-theme-option {
            font-size: 18px;
            transition: color 0.3s ease-in-out;
            color: #000;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
  
            &.selected {
              color: #fff;
            }
  
            &[data-theme="1"]:hover ~ .header-theme-selector {
              transform: translateY(0%);
            }
          }
  
          .header-theme-selector {
            @extend .header-theme-option;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: orange;
            transition: transform 0.3s ease-in-out;
          }
        }
      }
    }
  }
  