@import '../../styles/mixins';

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  
    
  button {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &.two-columns {
      grid-column: span 2;
    }
  }

  &.theme-1 {
    @include key-theme(1);
  }
  &.theme-2 {
    @include key-theme(2);
  }
  &.theme-3 {
    @include key-theme(3);
  }
}